@import 'variables';
@import 'node_modules/bootstrap/scss/forms';

$theme: $main_theme;

.form {
  &-control {
    color: map_get($theme, 'grey-dark_6');
    font-size: 18px;
    line-height: 20px;
    height: 50px;
    border-radius: map_get($theme, 'main-border-radius');
    padding: 16px 19px;
  
    &::placeholder {
      color: map_get($theme, 'grey-dark_3');
      transition: opacity 0.5s ease-in;
      opacity: 1;
    }

    &:focus {
      box-shadow: none;
      border-color: map_get($theme, 'info_input_border_color');

      &::placeholder {
        opacity: 0;
      }
    }
  
    &_small {
      @extend .form-control;
      padding: 11px 15px;
  
      height: 40px;
      font-size: 16px;
      line-height: 18px;
    }
  
    &_large {
      @extend .form-control;
      padding: 18px 22px;
  
      height: 60px;
      font-size: 20px;
      line-height: 24px;
    }
  
    &_info {
      @extend .form-control;
      border-color: rgba(45, 116, 255, 1);
    
      &::placeholder {
        color: map_get($theme, 'grey-dark_3');
      }
    
      &:focus,
      &.focus {
        border-color: rgba(45, 116, 255, 1);
      }
    }
  
    &_succes {
      @extend .form-control;
      border-color: rgba(1, 160, 1, 1);
    
      &::placeholder {
        color: map_get($theme, 'grey-dark_3');
      }
    
      &:focus,
      &.focus {
        border-color: rgba(1, 160, 1, 1);
      }
    }
  
    &_warning {
      @extend .form-control;
      border-color: rgba(254, 183, 47, 1);
    
      &::placeholder {
        color: map_get($theme, 'grey-dark_3');
      }
    
      &:focus,
      &.focus {
        border-color: rgba(254, 183, 47, 1);
      }
    }
  
    &_danger {
      @extend .form-control;
      border-color: rgba(250, 74, 106, 1);
    
      &::placeholder {
        color: map_get($theme, 'grey-dark_3');
      }
    
      &:focus,
      &.focus {
        border-color: rgba(250, 74, 106, 1);
      }
    }
  }

  &-group {
    box-shadow: none;
    &:focus-within {
      box-shadow: none;
    }

    label {
      color: map_get($theme, 'grey-dark_3');
      font-size: 16px;
      line-height: 18px;
      letter-spacing: -0.5px;
    }
  }
}
