div(class='dropdown_small fixed-size')
  button(class='button_outline dropdown-toggle' type='button' id='dropdownMenuButton' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Dropdown right icon
  div(class='dropdown-menu' aria-labelledby='dropdownMenuButton')
    a(class='dropdown-item' href='#') 
      span Tab index
      svg
        use(xlink:href="../../assets/svg/base-sprite/base-sprite.svg#Flash")  
    a(class='dropdown-item' href='#')
      span Tab index
      svg
        use(xlink:href="../../assets/svg/base-sprite/base-sprite.svg#Check circle")  
    a(class='dropdown-item' href='#')
      span Tab index
      svg
        use(xlink:href="../../assets/svg/base-sprite/base-sprite.svg#Check")  
  
