div(class='dropdown_small fixed-size')
  button(class='button_outline dropdown-toggle' type='button' id='dropdownMenuButton' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Radio
  div(class='dropdown-menu' aria-labelledby='dropdownMenuButton')
    a(class='dropdown-item' href='#')
      input(type='radio', name='radio', value='radio1')
      span Tab Index
    a(class='dropdown-item' href='#')
      input(type='radio', name='radio', value='radio2')
      span Tab Index
    a(class='dropdown-item' href='#')
      input(type='radio', name='radio', value='radio3')
      span Tab Index
  
