//-
  Dropdown component
    Main class
      dropdown
    Has 
      Size modificator classes
        dropdown_small
        dropdown_large 
    For use button inside you should use button component classes     
div(class='dropdown fixed-size')
  button(class='button_outline dropdown-toggle' type='button' id='dropdownMenuButton' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Dropdown
  div(class='dropdown-menu' aria-labelledby='dropdownMenuButton')
    a(class='dropdown-item' href='#') Some text number 1
    a(class='dropdown-item' href='#') Some text 2
    a(class='dropdown-item' href='#') Some long text number 3
  
