div(class='dropdown')
  button(class='button_warning dropdown-toggle' type='button' id='dropdownMenuButton' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
    svg
      use(xlink:href="../../assets/svg/base-sprite/base-sprite.svg#Alert")
    span Primary
  div(class='dropdown-menu' aria-labelledby='dropdownMenuButton')
    a(class='dropdown-item' href='#') Tab Index 1
    a(class='dropdown-item' href='#') Tab Index 2
    a(class='dropdown-item' href='#') Tab Index 3
  
