div(class='dropdown_large fixed-size')
  button(class='button_outline dropdown-toggle' type='button' id='dropdownMenuButton' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Dropdown left icon
  div(class='dropdown-menu' aria-labelledby='dropdownMenuButton')
    a(class='dropdown-item' href='#') 
      svg
        use(xlink:href="../../assets/svg/base-sprite/base-sprite.svg#Flash")  
      span Tab index
    a(class='dropdown-item' href='#')
      svg
        use(xlink:href="../../assets/svg/base-sprite/base-sprite.svg#Check circle")  
      span Tab index
    a(class='dropdown-item' href='#')
      svg
        use(xlink:href="../../assets/svg/base-sprite/base-sprite.svg#Check")  
      span Tab index
  
