div(class='dropdown fixed-size')
  button(class='button_outline dropdown-toggle' type='button' id='dropdownMenuButton' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Dropdown
  div(class='dropdown-menu' aria-labelledby='dropdownMenuButton')
    a(class='dropdown-item' href='#')
      input(type='checkbox', name='tabindex1')
      span Tab Index
    a(class='dropdown-item' href='#')
      input(type='checkbox', name='tabindex2')
      span Tab Index
    a(class='dropdown-item' href='#')
      input(type='checkbox', name='tabindex3')
      span Tab Index
  
