div(class='dropdown fixed-size')
  button(class='button_outline dropdown-toggle' type='button' id='dropdownMenuButton' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Dropdown icons both
  div(class='dropdown-menu' aria-labelledby='dropdownMenuButton')
    a(class='dropdown-item' href='#') 
      svg
        use(xlink:href="../../assets/svg/base-sprite/base-sprite.svg#Cart")  
      span Tab index
      svg
        use(xlink:href="../../assets/svg/base-sprite/base-sprite.svg#Chat")  
    a(class='dropdown-item' href='#')
      svg
        use(xlink:href="../../assets/svg/base-sprite/base-sprite.svg#Phone")  
      span Tab index
      svg
        use(xlink:href="../../assets/svg/base-sprite/base-sprite.svg#Play")  
    a(class='dropdown-item' href='#')
      svg
        use(xlink:href="../../assets/svg/base-sprite/base-sprite.svg#Search")  
      span Tab index
      svg
        use(xlink:href="../../assets/svg/base-sprite/base-sprite.svg#Send")  
  
