.container
  .row.mb-4
    .col-12
      ul(class='pagination')
        li(class='page-item') 
          a(class='page-link' href='components/') Components
        li(class='page-item') 
          a(class='page-link' href='components/button/') Button
        li(class='page-item') 
          a(class='page-link' href='components/breadcrumbs/') Breadcrumbs
      ul(class='pagination')    
        li(class='page-item') 
          a(class='page-link' href='components/form-control/') Form control
        li(class='page-item') 
          a(class='page-link' href='components/input-group/') Input group
        li(class='page-item') 
          a(class='page-link' href='components/dropdown/') Dropdown
      ul(class='pagination')    
        li(class='page-item') 
          a(class='page-link' href='components/tabs/') Tabs 
        li(class='page-item') 
          a(class='page-link' href='components/pagination/') Pagination              
      script
        include ../components/pagination/pagination.js
