div(class='container')
  div(class='row mt-5')  
    div(class='col-12 col-md-6 col-lg-3 mb-4')
      button(type=button class='button_small button_primary mb-3') Small button
      br
      button(type=button class='button_primary mb-3') Normal button
      br
      button(type=button class='button_large button_primary mb-3') Large button
    div(class='col-12 col-md-6 col-lg-3 mb-4')  
      button(type='button' class='button_small button_outline mb-3') Small button
      br
      button(type='button' class='button_outline mb-3')
        svg
          use(xlink:href="./assets/svg/base-sprite/base-sprite.svg#Phone")
        span Normal Button
        svg
          use(xlink:href="./assets/svg/base-sprite/base-sprite.svg#Inbox")
      br
      button(type='button' class='button_large button_outline mb-3') Large button
    div(class='col-12 col-md-6 col-lg-3 mb-4')  
      button(type='button' class='button_small button_disabled mb-3') Small button
      br
      button(type='button' class='button_disabled mb-3') Normal button
      br
      button(type='button' class='button_large button_disabled mb-3') Large button
    div(class='col-12 col-md-6 col-lg-3 mb-4')  
      button(type='button' class='button button_small button_primary mb-3 w-100') Small button
      br
      a(href='components/button' class='button button_primary mb-3 w-100') Normal button
      br
      button(type='button' class='button button_large button_primary mb-3 w-100') Large button
    div(class='col-12 col-md-6 col-lg-3 mb-4')  
      button(type='button' class='button button_small button_primary mb-3') 
        span Small button
        svg
          use(xlink:href="assets/svg/base-sprite/base-sprite.svg#Earth")
      br  
      button(type='button' class='button button_primary mb-3') 
        svg
          use(xlink:href="assets/svg/base-sprite/base-sprite.svg#Chat")
        span Normall button
      br
      button(type='button' class='button button_large button_primary mb-3')
        svg
          use(xlink:href="assets/svg/base-sprite/base-sprite.svg#Flash")
        span Large button
        svg
          use(xlink:href="assets/svg/base-sprite/base-sprite.svg#Visibility")
    div(class='col-12 col-md-6 col-lg-3 mb-4')  
      button(type='button' class='button button_small button_success mb-3') 
        svg
          use(xlink:href="assets/svg/base-sprite/base-sprite.svg#Card")
        span Small button
      br  
      button(type='button' class='button button_success mb-3') 
        svg
          use(xlink:href="assets/svg/base-sprite/base-sprite.svg#Box")
        span Normall button
        svg
          use(xlink:href="assets/svg/base-sprite/base-sprite.svg#Cart")
      br
      button(type='button' class='button button_large button_success mb-3')
        span Large button
        svg
          use(xlink:href="assets/svg/base-sprite/base-sprite.svg#Search")
    div(class='col-12 col-md-6 col-lg-3 mb-4')  
      button(type='button' class='button button_small button_warning mb-3') 
        svg
          use(xlink:href="assets/svg/base-sprite/base-sprite.svg#Card")
        span Small button
        svg
          use(xlink:href="assets/svg/base-sprite/base-sprite.svg#Key")
      br  
      button(type='button' class='button button_warning mb-3') 
        svg
          use(xlink:href="assets/svg/base-sprite/base-sprite.svg#Mail")
        span Normall button
      br
      button(type='button' class='button button_large button_warning mb-3')
        span Large button
        svg
          use(xlink:href="assets/svg/base-sprite/base-sprite.svg#Bookmark") 
    div(class='col-12 col-md-6 col-lg-3 mb-4')  
      button(type='button' class='button button_small button_danger mb-3') 
        svg
          use(xlink:href="assets/svg/base-sprite/base-sprite.svg#Alert")
        span Small button
      br  
      button(type='button' class='button button_danger mb-3') 
        svg
          use(xlink:href="assets/svg/base-sprite/base-sprite.svg#Visibility Off")
        span Normall button
      br
      button(type='button' class='button button_large button_danger mb-3')
        svg
          use(xlink:href="assets/svg/base-sprite/base-sprite.svg#Flash")                  
        span Large button
