.container
  .row
    .col-12.mb-5
      h1 H1 &nbsp; Nothing is impossible, the word itself says, I’m possible!
    .col-12.mb-5  
      h2 H2 &nbsp; Your time is limited, so don’t waste it living someone else’s life
    .col-12.mb-5
      h3 H3 &nbsp; Daily Report: Removing Checks to the Power of the Internet Titans
    .col-12.mb-5
      h4 H4 &nbsp; Daily Report: Removing Checks to the Power of the Internet Titans
    .col-12.mb-5
      h5 H5 &nbsp; Daily Report: Removing Checks to the Power of the Internet Titans
    .col-12.col-md-6.col-lg-3.mb-5
      p.caption_1 Caption 1
      p.caption_1_medium Caption 1
    .col-12.col-md-6.col-lg-3.mb-5
      p.caption_2 Caption 2
      p.caption_2_medium Caption 2
    .col-12.col-md-6.col-lg-3.mb-5
      p.caption_3 Caption 3
      p.caption_3_medium Caption 3
    .col-12.col-md-6.col-lg-3.mb-5
      p.caption_4 Caption 4
      p.caption_4_medium Caption 4
    .col-12.col-md-6.mb-3
      p.body_large When I was 5 years old, my mother always told me that happiness was the key to life. When I went to school, they asked me what I wanted to be when I grew up.    
      p.body_normal When I was 5 years old, my mother always told me that happiness was the key to life. When I went to school, they asked me what I wanted to be when I grew up.
      p.body_small When I was 5 years old, my mother always told me that happiness was the key to life. When I went to school, they asked me what I wanted to be when I grew up. I wrote down ‘happy’.
    .col-12.col-md-6.mb-3
      p.text_thin When I was 5 years old, my mother always told me that happiness was the key to life. When I went to school, they asked me what I wanted to be when I grew up. I wrote down ‘happy’.
      p.text_extra-light When I was 5 years old, my mother always told me that happiness was the key to life. When I went to school, they asked me what I wanted to be when I grew up. I wrote down ‘happy’.
      p.text_light When I was 5 years old, my mother always told me that happiness was the key to life. When I went to school, they asked me what I wanted to be when I grew up. I wrote down ‘happy’.
      p When I was 5 years old, my mother always told me that happiness was the key to life. When I went to school, they asked me what I wanted to be when I grew up. I wrote down ‘happy’.
      p.text_medium When I was 5 years old, my mother always told me that happiness was the key to life. When I went to school, they asked me what I wanted to be when I grew up. I wrote down ‘happy’.
      p.text_semi-bold When I was 5 years old, my mother always told me that happiness was the key to life. When I went to school, they asked me what I wanted to be when I grew up. I wrote down ‘happy’.
      p.text_bold When I was 5 years old, my mother always told me that happiness was the key to life. When I went to school, they asked me what I wanted to be when I grew up. I wrote down ‘happy’.
      p.text_extra-bold When I was 5 years old, my mother always told me that happiness was the key to life. When I went to school, they asked me what I wanted to be when I grew up. I wrote down ‘happy’.
      p.text_heavy When I was 5 years old, my mother always told me that happiness was the key to life. When I went to school, they asked me what I wanted to be when I grew up. I wrote down ‘happy’.

