//-
  Alert modified component
    Main class
      alert_large
    Has  
      Purpose modificator classes
        alert_large_danger
        alert_large_succes
        alert_large_warning
      Additional class
        left : for change animation direction  
.alert_large.left
  .alert__icon
    svg
      use(xlink:href="../../assets/svg/base-sprite/base-sprite.svg#Notification")
  .alert__content
    p.alert__title Info
    p.alert__message Nothing is impossible, the word itself says, I’m possible!
  button.alert__close 
    svg
      use(xlink:href="../../assets/svg/base-sprite/base-sprite.svg#Close")
