//-
  Alert component
    Main class
      alert
    Has  
      Purpose modificator classes
        alert_danger
        alert_succes
        alert_warning
      Additional class
        left : for change animation direction
.alert.left
  svg
    use(xlink:href="../../assets/svg/base-sprite/base-sprite.svg#Notification")
  span.alert__message Info
