.alert_large_warning
  .alert__icon
    svg
      use(xlink:href="../../assets/svg/base-sprite/base-sprite.svg#Alert")
  .alert__content
    p.alert__title Warning
    p.alert__message Nothing is impossible, the word itself says, I’m possible!
  button.alert__close 
    svg
      use(xlink:href="../../assets/svg/base-sprite/base-sprite.svg#Close")
