div(class='container')
  div(class='row mb-5')
    div(class='col-6 d-flex' style='height: 50px;')
      div(class='bg-accent_1_1' style='height: 100%; width: 20%')
      div(class='bg-accent_1_2' style='height: 100%; width: 20%')
      div(class='bg-accent_1_3' style='height: 100%; width: 20%')
      div(class='bg-accent_1_4' style='height: 100%; width: 20%')
      div(class='bg-accent_1_5' style='height: 100%; width: 20%')
    div(class='col-6 d-flex' style='height: 50px;')
      div(class='bg-accent_2_1' style='height: 100%; width: 20%')
      div(class='bg-accent_2_2' style='height: 100%; width: 20%')
      div(class='bg-accent_2_3' style='height: 100%; width: 20%')
      div(class='bg-accent_2_4' style='height: 100%; width: 20%')
      div(class='bg-accent_2_5' style='height: 100%; width: 20%')  
      
    
    
    
