button(type='button' class='button button_small button_primary mb-3') 
  span Small button
  svg
    use(xlink:href="assets/svg/base-sprite/base-sprite.svg#Earth")
br  
button(type='button' class='button button_primary mb-3') 
  svg
    use(xlink:href="assets/svg/base-sprite/base-sprite.svg#Chat")
  span Normall button
br
button(type='button' class='button button_large button_primary mb-3')
  svg
    use(xlink:href="assets/svg/base-sprite/base-sprite.svg#Flash")
  span Large button
  svg
    use(xlink:href="assets/svg/base-sprite/base-sprite.svg#Visibility") 
  
