nav
  div(class="nav nav-pills nav-pills_small" id="nav-tab" role="tablist")
    a(class="nav-item nav-link active" id="pill-small-1-tab" data-toggle="tab" href="#pill-small-1" role="tab" aria-controls="pill-small-1" aria-selected="true")
      span Pill 1
      svg
        use(xlink:href="../../assets/svg/base-sprite/base-sprite.svg#Mail")
    a(class="nav-item nav-link" id="pill-small-2-tab" data-toggle="tab" href="#pill-small-2" role="tab" aria-controls="pill-small-2" aria-selected="false")
      svg
        use(xlink:href="../../assets/svg/base-sprite/base-sprite.svg#Flash")
      span Pill 2
    a(class="nav-item nav-link" id="pill-small-3-tab" data-toggle="tab" href="#pill-small-3" role="tab" aria-controls="pill-small-3" aria-selected="false")
      svg
        use(xlink:href="../../assets/svg/base-sprite/base-sprite.svg#Message")
      span Pill 3
      svg
        use(xlink:href="../../assets/svg/base-sprite/base-sprite.svg#Notification")
div(class="tab-content" id="nav-tabContent")
  div(class="tab-pane fade show active" id="pill-small-1" role="tabpanel" aria-labelledby="pill-small-1-tab") Small pill 1 text
  div(class="tab-pane fade" id="pill-small-2" role="tabpanel" aria-labelledby="pill-small-2-tab") Small pill 2 text
  div(class="tab-pane fade" id="pill-small-3" role="tabpanel" aria-labelledby="pill-small-3-tab") Small pill 3 text
