nav
  div(class="nav nav-tabs nav-tabs_large" id="nav-tab" role="tablist")
    a(class="nav-item nav-link active" id="tab-large-1-tab" data-toggle="tab" href="#tab-large-1" role="tab" aria-controls="tab-large-1" aria-selected="true")
      svg
        use(xlink:href="../../assets/svg/base-sprite/base-sprite.svg#Folder")
      span Tab 1
    a(class="nav-item nav-link" id="tab-large-2-tab" data-toggle="tab" href="#tab-large-2" role="tab" aria-controls="tab-large-2" aria-selected="false")
      svg
        use(xlink:href="../../assets/svg/base-sprite/base-sprite.svg#Image")
      span Tab 1
      svg
        use(xlink:href="../../assets/svg/base-sprite/base-sprite.svg#Inbox")
    a(class="nav-item nav-link" id="tab-large-4-tab" data-toggle="tab" href="#tab-large-4" role="tab" aria-controls="tab-large-4" aria-selected="false") Tab 3
div(class="tab-content" id="nav-tabContent")
  div(class="tab-pane fade show active" id="tab-large-1" role="tabpanel" aria-labelledby="tab-large-1-tab") Tab 1 text
  div(class="tab-pane fade" id="tab-large-2" role="tabpanel" aria-labelledby="tab-large-2-tab") Tab 2 text
  div(class="tab-pane fade" id="tab-large-4" role="tabpanel" aria-labelledby="tab-large-4-tab") Tab 3 text
