nav
  div(class="nav nav-tabs nav-tabs_small" id="nav-tab" role="tablist")
    a(class="nav-item nav-link active" id="tab-small-1-tab" data-toggle="tab" href="#tab-small-1" role="tab" aria-controls="tab-small-1" aria-selected="true")
      svg
        use(xlink:href="../../assets/svg/base-sprite/base-sprite.svg#Folder")
      span Tab 1
    a(class="nav-item nav-link" id="tab-small-2-tab" data-toggle="tab" href="#tab-small-2" role="tab" aria-controls="tab-small-2" aria-selected="false") Tab 2
    a(class="nav-item nav-link" id="tab-small-3-tab" data-toggle="tab" href="#tab-small-3" role="tab" aria-controls="tab-small-3" aria-selected="false") Tab 3
div(class="tab-content" id="nav-tabContent")
  div(class="tab-pane fade show active" id="tab-small-1" role="tabpanel" aria-labelledby="tab-small-1-tab") Tab 1 text
  div(class="tab-pane fade" id="tab-small-2" role="tabpanel" aria-labelledby="tab-small-2-tab") Tab 2 text
  div(class="tab-pane fade" id="tab-small-3" role="tabpanel" aria-labelledby="tab-small-3-tab") Tab 3 text
