mixin item(text='link', link='#', display=false, add_class='')
  li(class='page-item ' + add_class style=display ? false : "display: none") 
    a(class='page-link' href= link)= text

ul(class='pagination_secondary')
  li(class='page-item control' data-direction='prev') 
    a(class='page-link')
     svg
        use(xlink:href="../../assets/svg/navigation-sprite/navigation-sprite.svg#chevron left")
  +item(1, '#', true)
  +item(2, '#', true, 'active')
  +item(3, '#', true) 
  +item(4, '#')
  +item(5, '#') 
  +item(6, '#')
  +item(7, '#')
  +item(8, '#')
  +item(9, '#')
  +item(10, '#')
  +item(11, '#')
  +item(12, '#')
  +item(13, '#')
  +item(14, '#')
  +item(15, '#')
  +item(16, '#')
  +item(17, '#')
  +item(18, '#')
  +item(19, '#') 
  +item('...', '#', true, 'delimiter') 
  +item(20, '#', true)         
  li(class='page-item control' data-direction='next') 
    a(class='page-link')
     svg
        use(xlink:href="../../assets/svg/navigation-sprite/navigation-sprite.svg#chevron right")


   
