//- 
  Component pagination
    Main class
      pagination
    Has 
    aditional classes
      for short pagination
        pagination_short
      for page-item element
        active
        disabled
        control: for left and right pagination controls  
        counter: for short pagination  
mixin item(text='link', link='#', add_class='')
  li(class='page-item ' + add_class) 
    a(class='page-link' href= link)= text

ul(class='pagination')
  +item(1, '#', 'disabled')
  +item(2, '#')
  +item(3, '#') 
  +item(4, '#', 'active')  
  +item(5, '#') 
  +item(6, '#')




   
