ul(class='pagination_dark pagination_short')
  li(class='page-item control' data-direction='prev') 
    a(class='page-link')
     svg
        use(xlink:href="../../assets/svg/navigation-sprite/navigation-sprite.svg#chevron left")
  li(class='page-item counter') 
    a(class='page-link')  1/10
  li(class='page-item control' data-direction='next') 
    a(class='page-link')
     svg
        use(xlink:href="../../assets/svg/navigation-sprite/navigation-sprite.svg#chevron right")


   
