ul(class='pagination_dark')
  li(class='page-item control') 
    a(class='page-link')
     svg
        use(xlink:href="../../assets/svg/navigation-sprite/navigation-sprite.svg#chevron left")
  li(class='page-item control') 
    a(class='page-link')
     svg
        use(xlink:href="../../assets/svg/navigation-sprite/navigation-sprite.svg#chevron right")


   
