//- 
  Form component
    Main class
      form-control
    Has 
      Size modificator classes
        form-control_small
        form-control_large  
      Purpose modificator classes
        form-control_info
        form-control_succes
        form-control_warning
input(class='form-control' type='text' placeholder='Form control')
