.custom-checkbox
  label(for="checkbox-checked" class="custom-checkbox__label") 
    input(type="checkbox" id="checkbox-checked" name="checkbox-checked" checked=true class="custom-checkbox__input")
    .custom-checkbox__marker
      svg
        use(xlink:href="../../assets/svg/base-sprite/base-sprite.svg#Check")

