.custom-checkbox_secondary
  label(for="checkbox-secondary" class="custom-checkbox__label") 
    span Secondary checkbox
    input(type="checkbox" id="checkbox-secondary" name="checkbox-secondary" class="custom-checkbox__input")
    .custom-checkbox__marker
      svg
        use(xlink:href="../../assets/svg/base-sprite/base-sprite.svg#Check")

