//- Custom-checkbox component
.custom-checkbox
  label(for="checkbox-1" class="custom-checkbox__label") 
    span Custom checkbox
    input(type="checkbox" id="checkbox-1" name="checkbox-1" class="custom-checkbox__input")
    .custom-checkbox__marker
      svg
        use(xlink:href="../../assets/svg/base-sprite/base-sprite.svg#Check")

