.custom-checkbox_left
  label(for="checkbox-left" class="custom-checkbox__label") 
    input(type="checkbox" id="checkbox-left" name="checkbox-left" class="custom-checkbox__input")
    .custom-checkbox__marker
      svg
        use(xlink:href="../../assets/svg/base-sprite/base-sprite.svg#Check")
    span Left checkbox

