.custom-checkbox_small
  label(for="checkbox-small" class="custom-checkbox__label") 
    span Small checkbox
    input(type="checkbox" id="checkbox-small" name="checkbox-small" class="custom-checkbox__input")
    .custom-checkbox__marker
      svg
        use(xlink:href="../../assets/svg/base-sprite/base-sprite.svg#Check")

