.custom-checkbox_large
  label(for="checkbox-large" class="custom-checkbox__label") 
    span Large checkbox
    input(type="checkbox" id="checkbox-large" name="checkbox-large" class="custom-checkbox__input")
    .custom-checkbox__marker
      svg
        use(xlink:href="../../assets/svg/base-sprite/base-sprite.svg#Check")

