//-
  Toggler component
    Main class
      toggler
    Has
      Color modificator classes
        toggler_secondary
        toggler_dark
      Size modificator class
        toggler_small: use only with main class or color classes
      Status attribute classes
        active: use only with main class or color classes
        disabled: use only with main class or color classes  
.toggler
script
  include toggler.js
