.custom-radio
 label(for="custom-radio_checked" class="custom-radio__label")
    input(type="radio" id="custom-radio_checked" name="radio-group" class="custom-radio__input" checked=true)
    .custom-radio__marker
