.custom-radio_large
 label(for="custom-radio_large" class="custom-radio__label") 
    span Custom radio large
    input(type="radio" id="custom-radio_large" name="radio-group" class="custom-radio__input")
    .custom-radio__marker
