//- Custom-radio component
.custom-radio
 label(for="custom-radio" class="custom-radio__label") 
    span Custom radio
    input(type="radio" id="custom-radio" name="radio-group" class="custom-radio__input")
    .custom-radio__marker
