.custom-radio_small
 label(for="custom-radio_small" class="custom-radio__label") 
    span Custom radio small
    input(type="radio" id="custom-radio_small" name="radio-group" class="custom-radio__input")
    .custom-radio__marker
