//- Custom-radio component
.custom-radio_secondary
 label(for="custom-radio_secondary" class="custom-radio__label") 
    span Custom radio secondary
    input(type="radio" id="custom-radio_secondary" name="radio-group" class="custom-radio__input")
    .custom-radio__marker
