.custom-radio.disabled
 label(for="custom-radio_disabled" class="custom-radio__label")
    input(type="radio" id="custom-radio_disabled" name="radio-group" class="custom-radio__input")
    .custom-radio__marker
