.custom-radio_left
 label(for="custom-radio_left" class="custom-radio__label") 
    input(type="radio" id="custom-radio_left" name="radio-group" class="custom-radio__input")
    .custom-radio__marker
    span Custom radio left
