//- 
  Button component
    Main class
      button
    Has 
      Size modificator classes
        button_small
        button_large  
      Purpose modificator classes
        button_primary
        button_outline
        button_disabled
        button_danger
        button_succes
        button_warning       
button(type=button class='button_primary') Normal button

