div(class='input-group_number_large')
  input(class='form-control' type='text' name='number-1' placeholder='0')
  div(class='input-group-append')
    span(class='input-group_number__controls')
      .input-group_number__control
        svg
          use(xlink:href="../../assets/svg/dropdown-sprite/dropdown-sprite.svg#Up")
      .input-group_number__control    
        svg
          use(xlink:href="../../assets/svg/dropdown-sprite/dropdown-sprite.svg#Down")

