div(class='input-group input-group_lowborder')
  div(class='input-group-prepend')
    span(class='input-group-text') Lowborder
  input(class='form-control' type='text' name='text-1' placeholder='Input group Low border')
  div(class='input-group-append')
    span(class='input-group-text')
      svg
        use(xlink:href="../../assets/svg/base-sprite/base-sprite.svg#Send")
