//-
  Input group component
    Main class
      input-group
    Has 
      Size modificator classes
        input-group_small
        input-group_large  
      Purpose modificator classes
        input-group_info
        input-group_succes
        input-group_warning
        input-group_danger
div(class='input-group')
  input(class='form-control' type='text' name='text-1' placeholder='Input group')  
