div(class='input-group input-group_noborder')
  div(class='input-group-prepend')
    span(class='input-group-text') Noborder
  input(class='form-control' type='text' name='text-1' placeholder='Input group No border')
