div(class='input-group input-group_noborder')
  div(class='input-group-prepend show-password')
    span(class='input-group-text')
      svg(data-iconset='Visibility,Visibility Off')
        use(xlink:href="../../assets/svg/base-sprite/base-sprite.svg#Visibility")     
  input(class='form-control' type='password' name='user_password' placeholder='Password')
  div(class='input-group-append show-password')
    span(class='input-group-text')
      svg(data-iconset='Visibility,Visibility Off')
        use(xlink:href="../../assets/svg/base-sprite/base-sprite.svg#Visibility")
